body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(#ffb6c1, #ffe5ec);

  font-family: Poppins, sans-serif;
}

.box {
  background: white;
  padding: 40px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #ff4d6d;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
}

button {
  padding: 12px 25px;

  border: none;
  border-radius: 20px;

  font-size: 16px;

  cursor: pointer;
}

#yesBtn {
  background: #ff4d6d;
  color: white;
}

#noBtn {
  background: #ccc;
}

.box-gif {
  max-width: 150px;
  margin: 15px auto;
  display: block;
}
